body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    margin: 0;
    color: black;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1d1d1f;
}

.page-header h4 {
    color: seashell;
    font-size: large;
}

.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.page-header a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: seashell;
    font-size: large;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-column-gap: 200px;
    margin-left: 100px;
    margin-top: 50px;
}

.item {
    border: solid 1px;
    width: 300px;
    margin-top: 30px;
}

.botton-div {
    display: flex;
    justify-content: center;
    width: 300px;
}

button {
    background-color: #1d1d1f;
    color: white;
    padding: 10px;
    margin: 10px 0px;
    border-style: none;
    border-radius: 2.5px;
    font-weight: 500;
}