body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    line-height: 1;
    margin: 0;
    color: seashell;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1d1d1f;
}

.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.page-header a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: seashell;
}